style.
  .postDetail {
    background-color: #ddd;
    margin: 20px;
    padding: 20px;
    text-align:center;
    padding: 10px;
  }
  .postDetail-left{
    display: inline-block;
    float: left;
    height: 100%;
  }
  .postDetail-content {
    display: inline-block;
  }
  .postDetail-right{
    display: inline-block;
    float: right;
    height: 100%;
  }
  .postDetail-votes{
    vertical-align: bottom;
  }
  .upvote{
    width: 40px;
    height: 40px;
    background-color:rgb(255,127,0);
  }
  .downvote{
    width: 40px;
    height: 40px;
    background-color:rgb(63,63,127);
  }

mixin post_detail(post)
  .postDetail(id='m#{post.post_id}-detail')
    .postDetail-left
      if post.parent_id
        a(href='/'+post.parent_id) View parent
      else
        a(href='/') Back to root
    img.postDetail-content(src='i/'+post.content+'.png')
    .postDetail-right
      a(href='/u/#{parent.author_id}')=parent.author
      div=parent.creation_time
      div.postDetail-num-replies #{parent.num_replies} replies
      div.postDetail-vote-score #{parent.vote_score} points
      .postDetail-votes
        button.upvote
        button.downvote
    script.
      $(document).ready(function(){
        var num_replies = #{parent.num_replies}
        $('#m#{post.post_id}-detail .upvote').click(function(){
          socket.emit('set_vote',{'post_id':#{post.post_id},'vote_value':1});
        })
        $('#m#{post.post_id}-detail .downvote').click(function(){
          socket.emit('set_vote',{'post_id':#{post.post_id},'vote_value':-1});
        })
        socket.on('vote_score[#{post.post_id}]:update',function(msg){
          vote_score = msg['vote_score'];
          $('#m#{post.post_id}-detail .postDetail-vote-score').html(vote_score+' points');
        });
        socket.on('num_replies[#{post.post_id}]:delta',function(msg){
          num_replies += msg['num_replies'];
          $('#m#{post.post_id}-detail .postDetail-num-replies').html(num_replies+' replies');
        });
      });
