doctype html
html
  head
    title All top-level posts
    style.
      html, body { margin: 0; padding:0; }
      #messages { display:table; text-align: center;  width: 100%;}
      .reply-container {
        width: 160px;
        height: 160px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        transition: opacity 1s ease;
        margin-bottom: -4px;
        box-shadow: 0 0 1px rgba(255,255,255,0.5);
      }
      .reply {
        background-color: transparent;
        margin: 8%;
        display: block;
        box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5);
        overflow: hidden;
        border-radius: 10px;
        vertical-align:middle;
        transition: box-shadow 0.5s 1s ease, margin 0.5s 1.5s ease, border-radius 0.5s 1.5s ease;
        position:absolute;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        color: black;
        outline: 0;
      }
      .reply:hover{
        transition: box-shadow 0.1s linear, margin 0.1s linear, border-radius 0.1s linear;
        box-shadow: none;
        margin: 0;
        border-radius: 0;
      }
      .content {
        display:inline;
        margin: 0 auto;
      }
      #user-info {margin: 10px; padding: 10px; background-color: #ddf; border-radius: 8px;}
      .username {font-size: 120%; font-weight: 600;}
      #input-container {background-color: #dfd;}
      #post-parent {background-color: #fdd; margin: 20px; text-align:center;border-radius: 20px; padding: 10px;}
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script.
      var socket_room = #{(parent?'\'/'+parent.post_id+'\'':'\'/\'')};
      var socket = io('',{query:'room='+socket_room});
      
      var make_reply = function(msg) {
        var reply = $('<a class=reply id=m'+msg['post_id']+' href='+msg['post_id']+'>');
        var reply_container = $('<div class=reply-container>')
        reply_container.css('background-color','rgba(255,127,0,'+Math.random()+')');
        reply.append(
          $('<div class=content>').text(msg['content'])
        );
        reply_container.append(reply);
        return reply_container;
      }
      
      var add_reply = function(msg,fade=false) {
        var elem = make_reply(msg)
        if(fade){elem.css('opacity',0);}
        $('#messages').prepend(elem);
        if(fade){elem.fadeTo(1,1)};
      }
      
      socket.on('message', function(msg){
        add_reply(msg,true);
      });
      
      var replies = !{JSON.stringify(replies)};
      
      $(document).ready(function(){
        for(var i = 0; i < replies.length; i++){
          add_reply(replies[i]);
        }
      });
  body
    div(id='user-info')
      if user_id
        div(class='username') #{username}
        button(id='logout-submit') Logout
        script.
          var cookie_parsed = document.cookie.split(';').map(function(s){return s.trim().split('=');}).reduce(function(a,b){a[b[0]]=b[1];return a;},{});
          if(cookie_parsed['token']) {
            socket.emit('authenticate',{'token': cookie_parsed['token']});
          };
          
          $('#logout-submit').click(function(){
            document.cookie = 'token=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            location.reload(true);
          });
              
      else
        div(id='login')
          input(type='text',id='login-username',pattern='[A-Za-z0-9]+')
          input(type='password',id='login-password')
          button(id='login-submit') Login
          script.
            $('#login-submit').click(function(){
              socket.emit('login', {
                username: $('#login-username').val(),
                password: $('#login-password').val()
              });
            });
            socket.on('jwt', function(msg) {
              console.log(msg);
              document.cookie='token='+msg['token']+';';
              location.reload(true);
            });
    if user_id
      div(id='input-container', class='line')
        div #{username}
        input(type='text',id='input-content')
        button(id='input-submit') Post
        if parent
          script.
            $('#input-submit').click(function(){
              socket.emit('create_post', {
                content:$('#input-content').val(),
                parent_id:#{parent.post_id}
              });
              $('#input-content').val('');
            });
        else
          script.
            $('#input-submit').click(function(){
              socket.emit('create_post', {
                content:$('#input-content').val()
              });
              $('#input-content').val('');
            });
          
    if parent
      div(id='post-parent')
        if parent.parent_id
          a(href='/'+parent.parent_id) View parent
        else
          a(href='/') Back to root
        h1 #{parent.author}
        div #{parent.content}
    div(id='messages')
